{{page-title "Home page"}}
<h2>Home page</h2>
{{outlet}}
<ul>
  <li><LinkTo @route="scientists">
      Scientists
    </LinkTo></li>
  <li><LinkTo @route="programmers">
      Programmers
    </LinkTo></li>
</ul>
